*{
 font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(239, 239, 239);
    text-align: center;
}
div{
    border: 1px solid rgb(194, 188, 188);
    border-radius: 10px;
    padding: 15px;
    background-color: aliceblue;
    display: inline-block;
    margin: 10px auto;
    
}
button{
    margin-bottom: 10px;
    margin-left: 10px;
}
textarea {
    border-radius: 5px;
    background-color: rgb(251, 251, 251);
}

form label {display: block;
    }

input{
    border: solid 1px grey;
    border-radius: 5px;
}
